<!-- Socials Container -->
<section class="socials-container">
    <div class="socials-text">
        <span class="follow-text">Follow Us</span>
        <span class="handle-text">@olivahomestaging</span>
    </div>
    <div class="socials-icons">
        <a href="https://www.instagram.com/olivahomestaging/" class="socials-link" target="_blank" rel="noopener noreferrer">
            <img src="https://github.com/Antonomy/emailsignature/blob/main/instagram-icon.png?raw=true" 
                 alt="Follow Oliva Home Staging on Instagram" class="socials-icon">
        </a>
        <a href="https://www.facebook.com/profile.php?id=61586034364471" class="socials-link" target="_blank" rel="noopener noreferrer">
            <img src="https://github.com/Antonomy/emailsignature/blob/main/facebook-icon.png?raw=true" 
                 alt="Follow Oliva Home Staging on Facebook" class="socials-icon">
        </a>
    </div>
</section>

<!-- Footer Container -->
<footer class="footer-container">
    <div class="contact">
        <address class="contact-address" itemscope itemtype="https://schema.org/LocalBusiness">
            <span itemprop="email">contact@olivahomestaging.com</span>
        </address>
    </div>
</footer>